<ion-content id="results">
  <div *ngIf="!noResults">
    <ion-list *ngIf="loaded">
      <ion-item>
        <ion-label>{{ "global.year_of_completion" | translate }}</ion-label>
        <ion-note slot="end">{{ results.year_completed }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{ "global.candidate_number" | translate }}</ion-label>
        <ion-note slot="end">{{ results.cno }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{ "global.sex" | translate }}</ion-label>
        <ion-note slot="end">{{
          "global.sexs." +
            (results.sex == "M" ? "male" : results.sex == "F" ? "female" : "")
            | translate
        }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{ "global.division" | translate }}</ion-label>
        <ion-note slot="end">{{ results.div }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{ "global.aggregates" | translate }}</ion-label>
        <ion-note slot="end">{{ results.aggt }}</ion-note>
      </ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{
            "global.details" | translate
          }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ results.detailed }}
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-list *ngIf="!loaded">
      <ion-item>
        <ion-label
          ><ion-skeleton-text
            [animated]="true"
            style="width: 80px"
          ></ion-skeleton-text
        ></ion-label>
        <ion-note slot="end"
          ><ion-skeleton-text
            [animated]="true"
            style="width: 40px"
          ></ion-skeleton-text
        ></ion-note>
      </ion-item>
      <ion-item>
        <ion-label
          ><ion-skeleton-text
            [animated]="true"
            style="width: 80px"
          ></ion-skeleton-text
        ></ion-label>
        <ion-note slot="end"
          ><ion-skeleton-text
            [animated]="true"
            style="width: 80px"
          ></ion-skeleton-text
        ></ion-note>
      </ion-item>
      <ion-item>
        <ion-label
          ><ion-skeleton-text
            [animated]="true"
            style="width: 20px"
          ></ion-skeleton-text
        ></ion-label>
        <ion-note slot="end"
          ><ion-skeleton-text
            [animated]="true"
            style="width: 80px"
          ></ion-skeleton-text
        ></ion-note>
      </ion-item>
      <ion-item>
        <ion-label
          ><ion-skeleton-text
            [animated]="true"
            style="width: 50px"
          ></ion-skeleton-text
        ></ion-label>
        <ion-note slot="end"
          ><ion-skeleton-text
            [animated]="true"
            style="width: 20px"
          ></ion-skeleton-text
        ></ion-note>
      </ion-item>
      <ion-item>
        <ion-label
          ><ion-skeleton-text
            [animated]="true"
            style="width: 80px"
          ></ion-skeleton-text
        ></ion-label>
        <ion-note slot="end"
          ><ion-skeleton-text
            [animated]="true"
            style="width: 30px"
          ></ion-skeleton-text
        ></ion-note>
      </ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            ><ion-skeleton-text
              [animated]="true"
              style="width: 80px"
            ></ion-skeleton-text
          ></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text
            [animated]="true"
            style="width: 100%; height: 100px"
          ></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <div *ngIf="noResults">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Oooops</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>{{ "global.could_not_load_results" | translate }}</ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
