<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Nectani </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nectani</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet class="container"></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="history">
        <ion-icon name="sync"></ion-icon>
        History
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
